body {
    background-color: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#weather {
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
    background-color: rgb(65, 190, 235);
    color: blueviolet;
    border-radius: 15px 15px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    border-radius: 0 0 15px 15px;
}
div {
    margin: 0 ;
    display: flex;
    flex-wrap: wrap; 
    gap: 15px;
    text-align: left;       
    color: rgb(139, 10, 76);
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    background-color: aqua;
}